<!-- templates/cart/cart_detail.html for the cart dir--> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
</head>
<body>
    <h1>Your Shopping Cart</h1>
    <ul>
        {% for item in cart.items.all %}
            <li>{{ item.quantity }} x {{ item.product.name }} - Ksh.{{ item.get_total_price }}</li> <hr>
        {% endfor %}
    </ul>
    <p>Total: Ksh.{{ total_price }}</p>
</body>
</html>
