<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{categories.name}}</title>
</head>
<body>
    <h3><a href="{%url 'homemain'%}">Home</a></h3><hr>
    
    <h3>Products in {{categories.name}}</h3>


    {%for product in products%}
    <ul>
        <li><a href="">{{product.name}}</a>  - {{product.price}}</li>

        <h3>{{product.description}}</h3><hr>

    </ul>
    {%endfor%}
</body>
</html>