<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>Menu</h2>
    <a href="">Login</a>
    <hr>
    <li>
        <li><a href="{% url 'homemain'%}">Home</a></li>
        <li><a href="{% url 'shopmain' %}">Shop</a></li>
        <li><a href="">Products</a></li>
        <li><a href="">Cart</a></li>
        <li><a href="">Checkout</a></li> <br><br>

        <li><a href="">Sell Products</a></li>
        <li><a href="">New this week</a></li>

    </li>
</body>
</html>